<!DOCTYPE html>
<html>
<head>
  <title>Achieve</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://js.pusher.com/4.1/pusher.min.js"></script>

  <% if user_signed_in? %>
  <script>
    var pusher = new Pusher('<%= ENV["PUSHER_KEY"] %>',{
      encrypted: true,
      cluster: 'ap1'
    });

    var channel = pusher.subscribe("user_<%= current_user.id %>_channel");
    channel.bind('comment_created', function(data) {
      alert(data.message);
    });

    channel.bind('notification_created', function(data) {
      $('#unread_count').html(data.unread_counts);
    });
  </script>
  <% end %>

</head>
<body>

  <div class="row">
  <header>
    <ul>
      <li><%= link_to "Achieve", root_path %></li>
      <li><%= link_to "トップページ", root_path %></li>
      <li><%= link_to "お問い合わせ", new_contact_path %></li>
      <li><%= link_to "ブログ", blogs_path %></li>
<% if user_signed_in? %>
      <li><%= link_to 'マイページ', edit_user_registration_path %></li>
      <li><%= link_to 'ユーザー一覧', users_path %></li>
      <li><%= link_to 'メッセージ', conversations_path %></li>
      <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
<% else %>
      <li><%= link_to 'ログイン', new_user_session_path  %></li>
      <li><%= link_to 'サインアップ', new_user_registration_path %></li>
<% end %>
    </ul>
  </header>
  </div>
<%= yield %>

  <footer>
    <p>運営会社DIVE INTO CODE株式会社</p>
    <p>© 2015-2016 Copyright DIVE INTO CODE Corp.</p>
  </footer>

</body>
</html>
